
@use '../abstracts/variables' as *;

h1 {
  font-size: 2em;
  margin-bottom: 1rem;
  color: $primary-color;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: none;
  
  &:hover {
     color: $primary-lighter;
  }
}