
@use '../abstracts/variables' as *;

h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  color: $primary-dark;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: none;
  
  &:hover {
     color: $accent-gold-dark;
  }
}