@use '../abstracts/variables' as *;

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;

  background-color: $primary-color;
  color: $button-text-color;
  transition: border-color 0.25s;
  
  &:hover {
    border-color: $primary-color;
  }
  
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}


.edit-button {
        background: $gradient-secondary;
        color: $white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.9;
        }
      }


      .login-button {
        background: $primary-color;
        color: $white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;

        width: 100%;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.9;
        }
      }