@use '../abstracts/variables' as *;

.dashboard-layout {
  display: flex;
  height: 100vh; // تأخذ كامل الشاشة
  overflow: hidden; // خلفية عامة للوحة التحكم
    background-color: #f9f9f9; // لون خلفية عام
}


  /* .dashboard-sidebar { */
    /* width: 250px; */
    /* background-color: #1e1e2f; */
    /* color: #fff; */
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 1rem; */
    /* border-right: 1px solid #333; */
  /* } */

  .dashboard-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .dashboard-header {
      height: 60px;
      background-color: #ffffff;
      border-bottom: 1px solid #ddd;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
    }
  }

.dashboard-content {
      flex: 1;
      overflow: hidden;
      padding: 1rem;
      margin-right: 280px;
      // background-color: #1e1e2f;
    }
