
@use '../abstracts/variables' as *;

.users-container {
  direction: rtl;
  padding: 1.5rem;
  padding-top: 2.5rem;
  min-height: calc(100vh - 70px);


  .users-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 1.25rem;
    border-radius: 0.5rem;
    background-color: $white;

    h1 {
      font-size: 1.5rem;
      color: $primary-color;
      margin: 0;
    }
  }
}


  .input-form {
    background: $white;
    border-radius: 0.5rem;
    box-shadow: $shadow;
    // padding: 2rem 1.5rem;
    // margin: 0 auto;
    padding: 2rem;

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.25rem;
      flex:1;

      label {
        margin-bottom: 0.5rem;
        color: $primary-color;
        font-weight: 500;
      }

      input,
      select {
        padding: 0.75rem;
        border: 1px solid $border-color;
        border-radius: 0.375rem;
        font-family: 'cairo', sans-serif;
        background: $bg-secondary;
        color: $text-primary;
        transition: border-color 0.2s;

        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }
    }

    .form-row {
      display: flex;
      gap: 1.5rem;
    }

 
  }

// Responsive
// @media (max-width: 768px) {
//   .users-container {
//     padding: 1rem;

//     .mission-form {
//       padding: 1rem;
//       max-width: 100%;
//     }
//   }
// }