
.overview-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1rem solid $primary-color;

  text-align: center;
    direction: rtl;
}

.overview-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


