
.overview-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // border: 1rem solid $primary-color;

  text-align: center;
    direction: rtl;
    height: 100%;
    justify-content: center;
}

.overview-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


