@use '../abstracts/variables' as *;

.settings-container {
  

//  background-color: $primary-color;
  padding: 2rem;
  /* padding-top: 4rem; */
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1rem solid $primary-color;
  direction: rtl;
}

  .stats-cards {
    //  background-color: $primary-color;
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1rem solid $primary-color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;

     .stat-card {
      background: $white;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: $shadow;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

 .card-content {
         .title {
           color: $gray-600;
           font-size: 0.9rem;
           margin-bottom: 0.5rem;
         }

         .value {
           color: $primary-color;
           font-size: 1.5rem;
           font-weight: bold;
         }
       }
  }
   
 